set(autostart ${PLUGIN_MESSENGER_AUTOSTART})

map()
    key(root)
    map()
        if(PLUGIN_MESSENGER_MODE)
            kv(mode ${PLUGIN_MESSENGER_MODE})
        else()
            if(PLUGIN_MESSENGER_OUTOFPROCESS)
                kv(mode "Local")
            else()
                kv(mode "Off")
            endif()
        endif()
    end()
end()

ans(configuration)
