set(autostart ${PLUGIN_MESSAGECONTROL_AUTOSTART})
map()
  kv(maxexportconnections ${PLUGIN_MESSAGECONTROL_MAX_EXPORTCONNECTIONS})
  
  kv(console ${PLUGIN_MESSAGECONTROL_CONSOLE})

  kv(syslog ${PLUGIN_MESSAGECONTROL_SYSLOG})

  kv(filepath ${PLUGIN_MESSAGECONTROL_FILENAME})

  kv(abbreviated ${PLUGIN_MESSAGECONTROL_ABBREVIATED})

  if(PLUGIN_MESSAGECONTROL_REMOTE)
  key(remote)
  map()
    kv(port ${PLUGIN_MESSAGECONTROL_PORT})
    kv(binding ${PLUGIN_MESSAGECONTROL_BINDING})
  end()
  endif()
  
end()
ans(configuration)
