set(autostart ${PLUGIN_MESSAGEGCONTROL_AUTOSTART})
map()
  kv(maxexportconnections ${PLUGIN_MESSAGEGCONTROL_MAX_EXPORTCONNECTIONS})
  
  kv(console ${PLUGIN_MESSAGEGCONTROL_CONSOLE})

  kv(syslog ${PLUGIN_MESSAGEGCONTROL_SYSLOG})

  kv(filepath ${PLUGIN_MESSAGEGCONTROL_FILENAME})

  kv(abbreviated ${PLUGIN_MESSAGEGCONTROL_ABBREVIATED})
  
end()
ans(configuration)
