set(autostart ${PLUGIN_DEVICEINFO_AUTOSTART})

map()
  kv(mode "Off")
end()
ans(rootobject)

map()
    if(PLUGIN_DEVICEINFO_DEVICETYPE)
      kv(devicetype ${PLUGIN_DEVICEINFO_DEVICETYPE})
    endif()
    if(PLUGIN_DEVICEINFO_DISTRIBUTORID)
      kv(distributorid ${PLUGIN_DEVICEINFO_DISTRIBUTORID})
    endif()
    if(PLUGIN_DEVICEINFO_FRIENDLYNAME)
      kv(friendlyname ${PLUGIN_DEVICEINFO_FRIENDLYNAME})
    endif()
    if(PLUGIN_DEVICEINFO_MAKE)
      kv(make ${PLUGIN_DEVICEINFO_MAKE})
    endif()
    if(PLUGIN_DEVICEINFO_MODELNAME)
      kv(modelname ${PLUGIN_DEVICEINFO_MODELNAME})
    endif()
    if(PLUGIN_DEVICEINFO_MODELYEAR)
      kv(modelyear ${PLUGIN_DEVICEINFO_MODELYEAR})
    endif()
    if(PLUGIN_DEVICEINFO_PLATFORMNAME)
      kv(platformname ${PLUGIN_DEVICEINFO_PLATFORMNAME})
    endif()
    if(PLUGIN_DEVICEINFO_SERIALNUMBER)
      kv(serialnumber ${PLUGIN_DEVICEINFO_SERIALNUMBER})
    endif()
    if(PLUGIN_DEVICEINFO_SKU)
      kv(sku ${PLUGIN_DEVICEINFO_SKU})
    endif()

end()
ans(configuration)
map_append(${configuration} root ${rootobject})
