set(autostart ${PLUGIN_WARNINGREPORTINGCONTROL_AUTOSTART})
map()
  if(PLUGIN_WARNINGREPORTINGCONTROL_CONSOLE)
    kv(console ${PLUGIN_WARNINGREPORTINGCONTROL_CONSOLE})
  endif()

  if(PLUGIN_WARNINGREPORTINGCONTROL_SYSLOG)
    kv(syslog ${PLUGIN_WARNINGREPORTINGCONTROL_SYSLOG})
  endif()

  if(PLUGIN_WARNINGREPORTINGCONTROL_FILE)
    kv(filepath ${PLUGIN_WARNINGREPORTINGCONTROL_FILEPATH})
  endif()

  if(PLUGIN_WARNINGREPORTINGCONTROL_ABBREVIATED)
    kv(abbreviated ${PLUGIN_WARNINGREPORTINGCONTROL_ABBREVIATED})
  endif()
  
end()
ans(configuration)
