set(autostart ${PLUGIN_WARNINGREPORTINGCONTROL_AUTOSTART})
map()
  if(PLUGIN_WARNINGREPORTINGCONTROL_CONSOLE)
    kv(console ${PLUGIN_WARNINGREPORTINGCONTROL_CONSOLE})
  endif()
  if(PLUGIN_WARNINGREPORTINGCONTROL_SYSLOG)
    kv(syslog ${PLUGIN_WARNINGREPORTINGCONTROL_SYSLOG})
  endif()

  if(PLUGIN_WARNINGREPORTINGCONTROL_ABBREVIATED)
    kv(abbreviated ${PLUGIN_WARNINGREPORTINGCONTROL_ABBREVIATED})
  endif()

  if(PLUGIN_WARNINGREPORTINGCONTROL_REMOTE)
  key(remote)
  map()
    kv(port ${PLUGIN_WARNINGREPORTINGCONTROL_PORT})
    kv(binding ${PLUGIN_WARNINGREPORTINGCONTROL_BINDING})
  end()
  endif()
end()
ans(configuration)
