set(autostart ${PLUGIN_WARNINGREPORTINGCONTROL_AUTOSTART})
map()
  kv(console ${PLUGIN_WARNINGREPORTINGCONTROL_CONSOLE})

  kv(syslog ${PLUGIN_WARNINGREPORTINGCONTROL_SYSLOG})

  kv(filepath ${PLUGIN_WARNINGREPORTINGCONTROL_FILENAME})

  kv(abbreviated ${PLUGIN_WARNINGREPORTINGCONTROL_ABBREVIATED})
  
  kv(warningsonly ${PLUGIN_WARNINGREPORTINGCONTROL_WARNINGSONLY})

end()
ans(configuration)
