set(autostart ${PLUGIN_PACKAGER_AUTOSTART})

map()
    key(root)
    map()
        if(PLUGIN_PACKAGER_MODE)
            kv(mode ${PLUGIN_PACKAGER_MODE})
        else()
            if(PLUGIN_PACKAGER_OUTOFPROCESS AND "${PLUGIN_PACKAGER_OUTOFPROCESS} STREQUAL "true")
                kv(mode "Local")
            else()
                kv(mode "Off")
            endif()
        endif()
    end()
end()
ans(configuration)
