set(autostart ${PLUGIN_DEVICEIDENTIFICATION_AUTOSTART})
set(preconditions Platform)

if(GENERIC_DEVICEIDENTIFIATION)
    set(preconditions ${preconditions} Network)
endif()

map()
if(GENERIC_DEVICEIDENTIFIATION)
    if(INTERFACE_NAME)
        kv(interface ${INTERFACE_NAME})
    endif()
endif()

    key(root)
    map()
      kv(mode "Off")
    end()
end()
ans(configuration)
