name: MacOS build template

on:
  workflow_call:

jobs:
  ThunderNanoServicesRDK:

    runs-on: macos-14

    strategy:
      matrix:
        build_type: [Debug, Release, MinSizeRel]

    name: Build type - ${{matrix.build_type}}
    steps:
# --------- Packages & artifacts ---------
    - name: Install necessary packages
      run: |
          brew update
          brew upgrade
          brew install ninja zlib
          python3 -m venv venv
          source venv/bin/activate
          pip install jsonref

    - name: Download artifacts
      uses: actions/download-artifact@v4
      with:
        name: ThunderInterfaces-${{matrix.build_type}}-artifact
        path: ${{matrix.build_type}}

    - name: Unpack files
      run: |
        tar -xvzf ${{matrix.build_type}}/${{matrix.build_type}}.tar.gz
        rm ${{matrix.build_type}}/${{matrix.build_type}}.tar.gz

# ----- Checkout & Options regex -----
    - name: Checkout ThunderNanoServicesRDK
      uses: actions/checkout@v4
      with:
        path: ThunderNanoServicesRDK
        repository: WebPlatformForEmbedded/ThunderNanoServicesRDK

    - name: Regex ThunderNanoServicesRDK
      if: contains(github.event.pull_request.body, '[Options:')
      id: plugins
      uses: AsasInnab/regex-action@v1
      with:
        regex_pattern: '(?<=\[Options:).*(?=\])'
        regex_flags: 'gim'
        search_string: ${{github.event.pull_request.body}}

# ----- Build & upload artifacts -----
    - name: Build ThunderNanoServicesRDK
      run: |
        source venv/bin/activate
        cmake -G Ninja -S ThunderNanoServicesRDK -B ${{matrix.build_type}}/build/ThunderNanoServicesRDK \
        -DCMAKE_CXX_FLAGS="-Wall -Wextra -Wpedantic -Werror" \
        -DCMAKE_C_FLAGS="-Wall -Wextra -Wpedantic -Werror" \
        -DCMAKE_INSTALL_PREFIX="${{matrix.build_type}}/install/usr" \
        -DCMAKE_MODULE_PATH="${PWD}/${{matrix.build_type}}/install/usr/include/WPEFramework/Modules" \
        -DPLUGIN_DEVICEIDENTIFICATION=ON \
        -DPLUGIN_DEVICEINFO=ON \
        -DPLUGIN_LOCATIONSYNC=ON \
        -DPLUGIN_MESSAGECONTROL=ON \
        -DPLUGIN_MESSENGER=ON \
        -DPLUGIN_MONITOR=ON \
        -DPLUGIN_OPENCDMI=ON \
        -DPLUGIN_PERFORMANCEMETRICS=ON \
        ${{steps.plugins.outputs.first_match}}
        cmake --build ${{matrix.build_type}}/build/ThunderNanoServicesRDK --target install

    - name: Tar files
      run: tar -czvf ${{matrix.build_type}}.tar.gz ${{matrix.build_type}}

    - name: Upload
      uses: actions/upload-artifact@v4
      with:
        name: ThunderNanoServicesRDK-${{matrix.build_type}}-artifact
        path: ${{matrix.build_type}}.tar.gz
